@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Pattaya');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html, body, header, h1, h2,
main, a, img, div {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 color: inherit;
 text-align: inherit;
 text-decoration: inherit;
 background: transparent;
}

header {
  height: 105px;
  width: 100%;
  background-color: lightskyblue;
}

h1 {
  text-align: center;
}

.linkImage {
  height: 20px;
  width: 20px;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
}

.title {
  font-family: 'Pacifico';
  font-size: 40px;
}

.links {
  text-align: center;
  padding: 10px;
}

.link {
  padding: 10px;
}

canvas {
  padding: 20px;
  margin: 20px;
  align-self: baseline;

}

.canvasDiv {
  padding-right: 220px;
}

.bottombody {
  display: flex;
  justify-content: space-between;;
}

.instruction {
  border: 1px solid black;
  padding:10px;
  margin-left: 100px;
  margin-top: 85px;
  height: 180px;
  width: 200px;
  min-width: 200px;
  min-height: 200px;
}

.right {
  height: 20px;
  width: 20px;
}

.left {
  height: 20px;
  width: 20px;
}

h2 {
  font-family: 'Pattaya';
  font-size: 20px;
  font-weight: bold;
  color: #e8900a;
}

p {
  font-family: 'Indie Flower';
}
