@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Pattaya');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Nova+Square');
@import url('https://fonts.googleapis.com/css?family=Frijole');
@import url('https://fonts.googleapis.com/css?family=Lato');

html, body, header, h1, h2,
main, a, img, div {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 color: inherit;
 text-align: inherit;
 text-decoration: inherit;
 background: transparent;
}

header {
  /*height: 105px;*/
  width: 100%;
  /*background-color: lightskyblue;*/
}

h1 {
  text-align: center;
}

.nav{
  background-color: white;
  margin-top: 10px;
}

.linkImage {
  height: 20px;
  width: 20px;
  padding: 6px 4px 4px 4px;
  box-shadow: 1px 2px 3px pink;
  border-radius: 3px;
}

.title {
  font-family: 'Frijole';
  color: #ff585b;
  font-size: 40px;
}

.links {
  text-align: center;
  padding: 10px;
}

.link {
  padding: 10px;
}

canvas {
  padding: 20px;

  /*margin: 20px;*/
  align-self: baseline;

}

.canvasDiv {
  /*padding-right: 220px;*/
}

.bottombody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instruction {
  text-align: center;
  border: 1px solid pink;
  border-radius: 6px;
  padding:10px;
  margin-left: 20px;
  margin-right: 20px;
  /*margin-top: 85px;*/
  height: 180px;
  width: 200px;
  min-width: 200px;
  min-height: 200px;

}

.right {
  height: 20px;
  width: 20px;
}

.left {
  height: 20px;
  width: 20px;
}

h2 {
  font-family: 'Frijole';
  font-size: 20px;
  font-weight: bold;
  color: #ff585b;
}

p {
  font-family: 'Lato';
}
